<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>

    <!--<add name="StockManDBEntities" connectionString="metadata=res://*/StockManModel.csdl|res://*/StockManModel.ssdl|res://*/StockManModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=stockman;password=password.1;persistsecurityinfo=True;database=stockmandb&quot;" providerName="System.Data.EntityClient" />-->
    <add name="StockManDBEntities" connectionString="metadata=res://*/StockManModel.csdl|res://*/StockManModel.ssdl|res://*/StockManModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=stockman.mysql.rds.aliyuncs.com;user id=stockman;password=hm19848483_lhy;persistsecurityinfo=True;database=stockmandb&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="broker" value="tcp://localhost:5559" />
    <add key="RedisHost" value="localhost:6379" />
    <add key="UmengAppKey" value="54b614ddfd98c5cf7e001140" />
    <add key="UmengMasterSecret" value="jff9ach1iyri1lazbzmy8ebstqdloflh" />
  </appSettings>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ServerScheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.plugin.xml.type" value=" Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
    <add key="quartz.jobListener.global.type" value="StockMan.Jobs.Listeners.GlobalJobListener,StockMan.Jobs" />
    <add key="quartz.triggerListener.global.type" value="StockMan.Jobs.Listeners.GlobalTriggerListener,StockMan.Jobs" />
  </quartz>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red" />
        <level value="WARN" />
        <foreColor value="Red" />
        <backColor value="Yellow, HighIntensity" />
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
        <level value="DEBUG" />
        <foreColor value="Blue, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Red" />
        <backColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Blue, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="100kB" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMM/yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="[Footer]&#13;&#10;" />-->
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="[Footer]&#13;&#10;" />-->
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
        <conversionPattern value="%date %logger [%-5level] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.400" newVersion="2.2.3.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.122.0" newVersion="3.1.122.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
