<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="task_frontendBindAddress" value="tcp://*:5559" />
    <add key="task_backendBindAddress" value="tcp://*:5560" />
    <add key="ctrl_frontendBindAddress" value="tcp://*:5561" />
    <add key="ctrl_backendBindAddress" value="tcp://*:5562" />
    <add key="mon_controlInBindAddress" value="tcp://*:5563" />
    <add key="mon_controlOutBindAddress" value="tcp://*:5564" />
  </appSettings>
</configuration>