<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="frontendBindAddress" value="tcp://*:5559"/>
    <add key="backendBindAddress" value="tcp://*:5560"/>
  </appSettings>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red" />
        <level value="WARN" />
        <foreColor value="Red" />
        <backColor value="Yellow, HighIntensity" />
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
        <level value="DEBUG" />
        <foreColor value="Blue, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Red" />
        <backColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Blue, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="100kB" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMM/yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="[Footer]&#13;&#10;" />-->
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
        <!--<header value="[Header]&#13;&#10;" />-->
        <!--<footer value="[Footer]&#13;&#10;" />-->
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
        <conversionPattern value="%date %logger [%-5level] - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorSmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="noone@noreply.org" />
      <from value="this.Log.sample@noreply.org" />
      <subject value="this.Log Sample Console Errors - LOCAL DEBUG" />
      <smtpHost value="localhost" />
      <bufferSize value="2" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date %logger [%thread] %-5level %logger - %message%newline" />
        <!--<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <!--<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.400" newVersion="2.2.3.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.122.0" newVersion="3.1.122.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>