<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StockManDBEntities" connectionString="metadata=res://*/StockManModel.csdl|res://*/StockManModel.ssdl|res://*/StockManModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=stockman;password=pass@word1;persistsecurityinfo=True;database=stockmandb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>